// ======================================
//  Variables
// ======================================

// Colors
$captionColor: #ffffff;
$white: #ffffff;
$fontsColor:  rgba(0,0,0,.57);
$navcolor: #9E9E9E;


// Fonts
$font-stack-primary: Futura, "Trebuchet MS", Arial, sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

// Layout
$max-width: 1000px;
$gutter: 10px;


//Theme colors
$themes: (
  'ent': #f0f8ff,
 'arch': #532b23,
  'edu': #e7756b, 
  'sim': #93f916, 
  'soc': #151988,
'games': #b1150d, 
);




