// ======================================
//  Layout Container Styles
// ======================================

// Main content

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  @include media-breakpoint-only(xs) {
    font-size: 12px;
}
}

.content-wrap {
  flex: 1;
}

.row {
  --bs-gutter-x: 0.5rem;  
  --bs-gutter-y: -1rem;
}

hr.solid {
  height: 1px;
  position: relative;
  padding-left: 17px;
  padding-right: 17px;
  border: none;
}

.mt-n1 {
  margin-top: -0.8rem;
}

@include media-breakpoint-only(xs) {
  .small-margin {
      margin-top: 8px;
  }
  .mt-n1 {
    margin-top: -1rem !important;    
}
}  




